
#route-container {
    width: 100%;
    height: 100%;
}

#route-container:after {
  content: "";
  display: table;
  clear: both;
}
#map-canvas {
display:inline;
float:right;
width:66%;
height: 100%;
}

#margin {
display:inline;
float:right;
width:33%;
overflow:scroll;
height:100%;
}
